PORT=3000
# To edit
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=your_db


JWT_SECRET=your_jwt_secret
JWT_EXPIRE=24h

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_SECURE=true
EMAIL_USER=your_email
EMAIL_PASS=your_app_password
EMAIL_FROM=noreply@freshlink.com


# Not to be changed
FRONTEND_URL=http://localhost:4000
PEXELS_API_KEY=JxBYwOkGgFAhKjhh1IG37AvmPdNzu26LfDaO2mm6yM94kK1NBmzjn3hJ

# For google login
GOOGLE_CLIENT_ID=your_client_id
GOOGLE_CLIENT_SECRET=your_client_secret
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback
